/***** header *****/
.tour .header-body{
	background: url(../img/hero-tour.jpg) no-repeat;
	background-size: cover;
}
.tour .header .btn-get-start{
	background-color: var(--bg-moutard);
}
.tour .header .btn-get-start:hover{
	background-color: var(--bg-black);
	color: var(--bg-moutard)
}
.logos-bar{
	background-color: var(--bg-gray);
	min-height: 6rem;
	margin-top: -5px;
}
.logos-bar>.container{
	align-items: center;
	padding-top: 1.2rem;
}
.logos-bar ul{
	justify-content: space-between;
}
.logos-bar img{
	filter: opacity(0.3);
	-webkit-filter: opacity(0.3);
}
/***** end header *****/

/***** main *****/
#section2, #section4, #section6,
#section8, #section10{
	background: var(--bg-gray);
}
.bottom-line::after{
    content: "";
	position: absolute;
	display: block;
	width: 34%;
	height: 3px;
	background-color: var(--text-black);
	left: 0;
    margin-top: 0.6rem;
}
.bottom-line.center::after{
	left: 33%;
}
#section1{
	padding-bottom: 0;
}
.slider-start{
	min-height: 615px;
	background: url(../img/large-cinema-display.png) no-repeat;
	background-size: contain;
	max-width: 960px;
  	margin: auto;
	position: relative;
}
.slider-start ul{
	padding-top: 2.5rem;
	max-width: 884px;
	margin: 0 auto;
	overflow: hidden;
}
.slider-start ul li,
.slider-blog ul li{
	animation-name: fade;
  	animation-duration: 1.5s;
}
.slider-blog{
	max-width: 960px;
	position: relative;
	margin-bottom: 4rem;
}
.slider-blog ul{
	overflow: hidden;
}
@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
#section5 .slide-btn{
	top: 45%;
}
.slide-btn{
	border-style: none;
	position: absolute;
	background: transparent;
	top: 40%;
	cursor: pointer;
}
.slide-btn img{
	filter: opacity(0.3);
	-webkit-filter: opacity(0.3);
}
.slide-btn.btn-left{
	left: -6%;
}
.slide-btn.btn-right{
	right: -6%;
}
#section5 .w-33{
	padding-right: 2rem;
}
#section5 .rs-links{
	list-style: none;
	display: flex;
	padding-left: 0;
}
#section5 .rs-links li{
	margin-left: 1rem;
}
#section5 .rs-links img{
	filter: opacity(0.6);
	-webkit-filter: opacity(0.6);
}
#section7 h2+p{
    margin-bottom: 2rem !important;
	width: 80%;
}
#section7 .container,
#section8 .row2{
    align-items: center;
}
#section7 .col-left{
    margin-left: 10%;
}
#section8 aside{
    margin-left: -8%;
}
#section8 aside h3{
    margin-bottom: 0;
}
#section8 aside p{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
#section9 .left-col{
    border-right: 2px solid var(--bg-gray);
}
#section9 .left-col p{
    margin: 0;
}
#section9 .right-col{
    margin-top: 3rem;
}
#section9 .right-col p{
    width: 90%;
}
.s-b-top, .s-b-bottom{
	height: 3rem;
	background: url(../img/sqsp-browser-yourbrand.png) no-repeat;
	background-size: cover;
	max-width: 960px;
	margin: auto;	
}
.s-b-top{
	margin-bottom: -0.25rem;
}
.s-b-bottom{
	background-position: left bottom;
	margin-top: -1.8rem;
}
#section11 .row1{
	padding-bottom: 3rem;
	border-bottom: 2px solid var(--bg-gray);
	margin-bottom: 3rem;
}
#section11 h2{
	width: 90%;
}
#section11 p{
	width: 90%;
	margin-bottom: 3rem !important;
}
.ceo-card{
	align-items: center;
}
.ceo-card img{
	border-radius: 50%;
	box-shadow: 0px 0px 5px #000000d1;
	z-index: 2;
}
.ceo-card figcaption{
	background: var(--bg-green);
	width: 50%;
	min-height: 4rem;
	line-height: 4rem;
	margin-left: -1rem;
}
.ceo-text{
	font-size: 0.9rem;
	margin-top: 2rem;
	width: 70% !important;
}
.rect-free{
	font-size: 0.7rem;
	font-weight: 900;
	color: #fff;
	padding: 0 14px;
	border-radius: 4px;
	background-color: var(--bg-green);
	margin-left: 1rem;
}
/***** end main *****/

/***** media queries *****/
@media screen and (max-width: 576px){
	h2, h2+p{
		width: auto;
	}
	.container{
		padding: 0 1rem;
	}
	.logos-bar > .container{
		flex-direction: column;
	}
	.logos-bar p{
		width: auto;
	}
	.logos-bar ul{
		padding-left: 0;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
	}
	.logos-bar ul li{
		text-align: center;
	}
	.logos-bar img{
		max-width: 100%;
	}
	#section5 .w-33{
		width: auto;
	}
	#section7 .container,
	#section8 .row2{
		flex-direction: column;
	}
	#section7 .w-50,
	#section9 .w-50,
	#section11 .w-50{
		width: auto;
	}
	#section8 aside{
		width: auto;
		margin-left: 0;
	}
	#section9 .left-col {
		border-right: none;
	}
	#section9 .right-col {
		padding-left: 0;
	}
}
@media screen and (min-width: 576px){
	.logos-bar > .container{
		flex-direction: column;
	}
	.logos-bar ul{
		flex-wrap: wrap;
		padding-left: 0;
		justify-content: space-evenly;
	}
	.logos-bar p{
		width: auto;
	}
	#section5 .w-33{
		width: auto;
	}
	#section7 .container,
	#section8 .row2{
		flex-direction: column;
	}
	#section8 aside{
		width: auto;
		margin-left: 0;
	}
	#section7 .w-50,
	#section9 .w-50,
	#section11 .w-50{
		width: auto;
	}
	#section9 .left-col {
		border-right: none;
	}
}
@media screen and (min-width: 768px){
	#section7 .container,
	#section8 .row2{
		flex-direction: row;
	}
	#section7 .w-50,
	#section9 .w-50,
	#section11 .w-50{
		width: 49%;
	}
	#section8 aside{
		width: 49%;
	}
}
@media screen and (min-width: 992px){
	.logos-bar > .container{
		flex-direction: row;
	}
	.logos-bar ul{
		flex-wrap: nowrap;
		padding-left: 40px;
		justify-content: space-between;
	}
	#section5 .w-33{
		width: 33%;
	}
	#section8 aside{
		width: 24%;
		margin-left: -8%;
	}
	#section9 .left-col {
		border-right: 2px solid var(--bg-gray);
	}
}
@media screen and (min-width: 1200px){

}
@media screen and (min-width: 1400px){

}
/***** fin media queries *****/