/***** header *****/
.pricing .header-body{
	background: url(../img/hero-pricing.jpg) no-repeat;
	background-size: cover;
}
.pricing .header .btn-get-start{
    margin-top: 3rem;
	background-color: var(--bg-black);
    color: var(--bg-gray);;
}
.pricing .header .btn-get-start:hover{
	background-color: var(--bg-gray);
	color: var(--text-black)
}
/***** end header *****/

/***** main *****/
#section .container{
	position: relative;
}
#section1 h2{
	font-size: 2rem;
	width: fit-content;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--bg-white);
	margin: auto;	
}
#section2 h3{
	font-weight: bold;
	width: fit-content;
	padding-bottom: 0.3rem;
	border-bottom: 2px solid var(--text-black);
}
#section2 .left-col,
#section1 .left-col{
	padding-right: 3rem;
	position: relative;
}
#section2 .right-col,
#section1 .right-col{
	padding-left: 3rem;
	position: relative;
}
.pcard-head{
	background-color: var(--bg-black);
	padding: 2rem;
	position: relative;
}
.pcard-head>*{
	width: 100%;
}
.pcard-head h2+p{
	margin-bottom: 1rem !important;
}
.pcard-head .price{
	font-size: 6rem;
	margin-top: 2rem;
}
.pcard-head .price span{
	font-size: 1.2rem;
	font-weight: lighter;
	color: #bbb;
}
.pcard-head .price .sign{
	vertical-align: text-top;
}
.pcard-head .price .mo{
	vertical-align: baseline
}
.pcard-head .round-pop{
	position: absolute;
	width: 5rem;
	height: 5rem;
	font-size: 0.7rem;
	line-height: 1rem;
	font-weight: bold;
	border-radius: 50%;
	background-color: var(--bg-green);
	top: -2.8rem;
	right: -2rem;	
	padding-top: 1.5rem;
}
.pcard-body{
	background-color: var(--bg-gray);
	padding: 1px;
}
.pcard-body ul{
	margin: 0;
}
.pcard-body ul li{
	color: var(--text-gray);
	font-size: 0.9rem;
	border-bottom: 1px solid #82828230;
	padding: 1rem 0 1rem 7rem;
}
.pcard-body .bold-item{
	font-weight: bold;
	color: var(--text-black);
}
.round-free{
	position: absolute;
	width: 2.5rem;
	line-height: 2.5rem;
	font-size: 0.7rem;
	text-align: center;
	border-radius: 50%;
	color: var(--bg-white);
	background-color: var(--bg-green);
	top: 10%;
	left: 45%;	
}
.tool-tip{
	position: absolute;
	padding: 15px 20px 15px 60px;
	max-width: 320px;
	border-radius: 8px;
	background-color: #000000e0;
}
.tool-tip h3{
	font-size: 1rem;
	text-transform: initial;
	margin: 0;
}
.tool-tip p{	
	font-size: 0.8rem;
	line-height: 1.2rem;
	color: #ccc;
	margin: 0.2rem 0;
}
.left-tool-tip, .right-tool-tip{
	background-color: #000000e0;
	padding: 1rem;
	animation-name: fade;
	animation-duration: 1s;
}
.left-tool-tip h3,
.right-tool-tip h3{
  text-transform: inherit;
  color: white;
  margin: 0;
}
.left-tool-tip p,
.right-tool-tip p{
  font-size: 0.8rem;
}
@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
/***** end main *****/

/***** media queries *****/
@media screen and (max-width: 576px){
	#section1 .w-50{
		width: auto;
		padding: 0 1.5rem;
		display: block;
	}
	#section1 .left-col{
		margin-bottom: 3rem;
	}
	.pcard-body ul li{
		padding: 1rem 0 1rem 2rem;
	}
	.round-free{
		left: 55%;
	}
	.more-info{
		display: block;
		text-decoration: underline;
		cursor: pointer;
	}
	#section2 .w-50{
		width: auto;
		padding: 0 1.5rem;
	}
	#section2 p{
		margin-bottom: 2rem;
	}
}
@media screen and (min-width: 576px){
	#section1 .w-50{
		width: auto;
		padding: 0 3rem;
		display: block;
	}
	#section1 .left-col{
		margin-bottom: 3rem;
	}
	.pcard-body ul li{
		padding: 1rem 0 1rem 2rem;
	}
	.round-free{
		left: 55%;
	}
	.more-info{
		display: block;
		text-decoration: underline;
		cursor: pointer;
	}
	#section2 .w-50{
		width: auto;
		padding: 0 3rem;
	}
	#section2 p{
		margin-bottom: 2.5rem;
	}
}
@media screen and (min-width: 768px){
	#section1 .w-50{
		width: 49%;
		display: inline-block;
	}
	#section2 .w-50{
		width: 49%;
	}
	#section2 .left-col{
		padding: 0 3rem 0 0;
	}
	#section2 .right-col{
		padding: 0 0 0 3rem;
	}
	#section2 p{
		margin-bottom: 1rem;
	}
}
@media screen and (min-width: 992px){
	.round-free{
		left: 45%;
	}	
	.more-info{
		display: none;
	}
	.left-tool-tip, .right-tool-tip{
		display: none;
	}
}
@media screen and (min-width: 1200px){
	
}
@media screen and (min-width: 1400px){
	
}
/***** fin media queries *****/