/***** styles généraux des pages *****/
:root{
	--bg-white: #fff;
	--bg-gray: #f5f5f5;
	--bg-green: #58cb8e;
	--bg-black: #181818;
	--bg-moutard: #fff186;
	--text-black: #222222;
	--text-gray: #828282;	
}
body *{	
	box-sizing: border-box;
}
body{
	margin: 0px;
	font-family: Arial, sans-serif;
	background: var(--bg-white);
}
/***** fin styles généraux des pages *****/

/***** box model et conteneurs *****/
.container{
    max-width: 100%;
    margin: auto;
}
.container-fluid{
    width: 100%;
}
section{
	padding: 4rem 0;
}
h2{
	position: relative;
	width: 70%;
	margin-bottom: 2rem;
}
h2+p{
	width: 60%;
	margin-bottom: 5rem !important;
}
p>img{
	margin-bottom: -5px;
	max-width: 100%;
}
.w-100{
    width: 100%;
}
.w-80{
    width: 79%;
}
.w-75{
    width: 74%;
}
.w-50{
    width: 49%;
}
.w-33{
    width: 33%;
}
.w-25{
    width: 24%;
}
.w-20{
    width: 19%;
}
*[class*="w-"]{
	display: inline-block;
	vertical-align: top;
}
.p-relative{
	position: relative;
}
.d-none{
	display: none;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-il-block{
	display: inline-block;
}
.list-style-none{
	list-style: none;
}
/***** fin box model et conteneurs *****/

/***** marges et espacements *****/
.ml-auto{
	margin-left: auto;
}
.mx-auto{
	margin: 0 auto;
}
.mx-0{
	margin: auto 0;
}
.mb-2{
	margin-bottom: 2rem;
}
.pb-0{
	padding-bottom: 0;
}
.pl-0{
	padding-left: 0;
}
.pl-5{
	padding-left: 5rem;
}
/***** fin marges et espacements *****/

/***** header *****/
.navbar{
	align-items: center;
	min-height: 8rem;
}
.nb-nav ul{
	width: 60%;
	padding: 0;
	justify-content: space-around;
}
.nb-nav ul li a{
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--text-gray);
	text-decoration: none;
}
.nb-nav ul li a:hover{
	color: var(--text-black)
}
.active{
	color: var(--text-black) !important;
}
.header-body{
	padding: 10rem 0;
}
.header .lead-text{
	font-size: 3rem;
	line-height: 4rem;
	position: relative;
	margin-bottom: 15px;
}
.header .lead-text::before{
	content: "";
	position: absolute;
	display: block;
	width: 25%;
	height: 5px;
	background-color: #fff;
	left: 37.5%;
	margin-top: -1.8rem;	
}
.header .trial-text{
	font-size: 1.1rem;
	margin-bottom: 5rem;
}
.btn-get-start{
	text-decoration: none;
	padding: 20px 30px;
	font-size: 1.1rem;
	color: var(--text-black);
	border-radius: 50px;
	transition: 0.5s;
	border: 2px solid transparent;
}
.btn-watch{
	text-decoration: none;
	font-size: 1.1rem;
	margin-left: 1rem;	
}
.btn-watch:hover{
	text-decoration: underline;
}
/***** fin header *****/

/***** footer *****/
.footer{
	background: var(--bg-black);
}
.footer>.container{
	padding: 40px 0 80px 0;
}
.footer h3{
	color: #ffffffc7;
	font-size: 0.95rem;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	margin-bottom: 0.5rem;
}
.footer li a{
	color: var(--text-gray);
	text-decoration: none;
	font-size: 0.9rem;
}
.footer li a:hover{
	text-decoration: underline;
}
.footer .btn-get-start{
	background-color: var(--bg-gray);
	padding: 15px 45px;
}
.footer .btn-get-start:hover{
	background-color: transparent;
	color: var(--bg-gray);
	border: 2px solid var(--bg-gray);	
}
/***** fin footer *****/

/***** images et texte *****/
h1, h2, h3{
	color: var(--text-black);
	font-weight: normal;
	text-transform: uppercase;
	line-height: 2.2rem;
}
h2{
	font-size: 1.5rem;
}
h3{
	font-size: 1rem;
}
p{
	color: var(--text-gray);
	line-height: 1.6rem;
}
.image{
    width: 100%;
    height: auto;
}
.text-center{
    text-align: center;
}
.text-upper{
	text-transform: uppercase;
}
.text-white{
	color: #fff;
}
.text-green{
	color: var(--bg-green)
}
/***** fin images et texte *****/

/***** media queries *****/
@media screen and (max-width: 576px){
	.container{
		max-width: 540px;
	}
	.footer .w-25{
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.navbar{
		flex-direction: column;
	}
	.nb-brand{
		width: auto;
	}
	.nb-nav ul{
		width: auto;
		flex-direction: column;
		text-align: center;
	}
	.tour .header-body{
		background-position: 20% !important;
	}
	.header-body {
		padding: 5rem 0;
	}
	.header .lead-text{
		font-size: 2rem;
		line-height: 3rem;
	}
	.btn-watch{
		display: block;
		margin: 2rem 0 0 0;
	}
}
@media screen and (min-width: 576px){
	.container{
		max-width: 540px;
	}
	.footer .w-25{
		width: 49%;
		text-align: center;
	}
	.navbar{
		flex-direction: column;
	}
	.nb-nav ul{
		width: auto;
	}
	.header-body {
		padding: 5rem 0;
	}
	.header .lead-text{
		font-size: 2rem;
		line-height: 3rem;
	}	
}
@media screen and (min-width: 768px){
	.container{
		max-width: 720px;
	}	
	.navbar{
		flex-direction: row;
	}
	.header .lead-text{
		font-size: 3rem;
		line-height: 4rem;
	}
}
@media screen and (min-width: 992px){
	.container{
		max-width: 960px;
	}
	.footer .w-25{
		width: 24%;
		text-align: left;
	}
	.nb-nav ul{
		width: 60%;
	}
	.header-body {
		padding: 10rem 0;
	}	
}
@media screen and (min-width: 1200px){
	.container{
		max-width: 1140px;
	}	
}
@media screen and (min-width: 1400px){
	.container{
		max-width: 1320px;
	}	
}
/***** fin media queries *****/